<% layout('layouts/boilerplate')%>

<!-- define the div into which the nearby COVID places widget from MapmyIndia needs to be loaded -->
<div id="nearby-covid-places-mapmyindia"></div>

<!-- call the following code AFTER the mapmyindia javascript file has loaded -->
<script type="text/javascript">
  loadNearbyCovidCentresMapmyIndiaDiv(
    document.getElementById("nearby-covid-places-mapmyindia")
  );
</script>
